/* larger */
@media (min-width: 640px) {

    header {
        max-width: none;
    }

    nav {
        max-width: none;
    }

    .container {
        justify-content: left;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}